<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div className='HolderH'>
            <div className='headerLogo'>
            <img src="../../public/images/header2.png" width="100" alt="Crypto"/>
            <h1 >CRYPTO STATE</h1>
            </div>
           
                  </div>
            </header>
    {{{body}}} 
    {{!-- el {{{body}}} carga el contenido con la estrucutra del HTML y su jerarquia  --}}
    <footer className='HolderF' >
            <div>
                <img src="../../public/images/footer.png" width={50} alt="wallet"></img>
            </div>
            <div>
                <p className='ParFooter'> by Jose Chicala - Full stack Developer - Copyright © 2022.</p>
            </div>
        </footer>
  </body>
</html>
