<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<div class="holder ">
 
    <h1>Insert a new update</h1>

    <form class='newsForm' action="/admin/updates/new" method="post">
        <div class="mb-3">
            <label for="updateTittle" class="form-label">Tittle</label>
            <input type="text" name="tittle" class="form-control" id="updateTittle">
        </div>
        <div class="mb-3">
            <label for="updateSubtittle" class="form-label">Subtittle</label>
            <textarea type="text" name="subtittle" class="form-control" id="updateSubtittle"></textarea>
        </div>
        <div class="mb-3">
            <label for="updateBody" class="form-label">Body</label>
            <textarea type="text" name="body" class="form-control" id="updateBody"></textarea>
        </div>
        {{!-- <div class="mb-3">
            <label for="updateImage" class="form-label">Image</label>
            <input type="text" name="images" class="form-control" id="updateImage">
        </div> --}}
                <p className='acciones'></p>
        <button type="submit" class="btn btn-primary">Save</button>
        </p>
    </form>
{{#if error}}
<p>{{message}}</p>
{{/if}}
</div>