footer {
    background-color: black;
    padding: 1.5em 1em;
    margin: 0 auto;

    width: 960px;
}

.ParFooter {
    color: #f2a900;
    font-size: 1em;
    font-weight: 500;
    position: relative;
    left: .6em;
}

.HolderF {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    margin: 0 auto;
    align-items: center;

}