body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.holder {
  width: 960px;
  margin: 0 auto;
}

h2,
h3 {
  font-weight: 800;
  color: #f2a900;
  margin: 0 0 1em;
}

/* inicio Header */
header {
  background-color: #000000;
  padding: 0.5em 1em;
  margin: 0 auto;
  width: 960px;
}

header h1 {
  color: #f2a900;
  font-size: 2em;
  font-weight: 100;
  left: .6em;
}


.headerLogo {
  display: flex;
  
  justify-content: center;
  align-items: center;

}

/* Final Header */

/* inicio Footer */
footer {
  background-color: black;

  padding: 1.5em 1em;
  margin: 0 auto;

  width: 960px;
}

.ParFooter {
  color: #f2a900;
  font-size: 1em;
  font-weight: 500;
  position: relative;
  left: .6em;
}

.HolderF {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

}

/* Final Footer */

/* inicio login */

.loginForm {
  display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;
margin-bottom: 100px;
}

.acciones{
  margin-top: 20px;
}

.loginForm [type="submit"] {
  background: #f2a900;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 16px;
  padding: 6px 20px;
  position: relative;
  cursor: pointer;

}

.loginForm [type="submit"]:hover {
  background-color: #dc9b05;

}

.loginForm div label{
  min-width: 300px;

}
/* final login */
/* inicio backend news */

.newsForm {
  display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;
margin-bottom: 100px;
}

.acciones{
  margin-top: 20px;
}

.newsForm [type="submit"] {
  background: #f2a900;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 16px;
  padding: 6px 20px;
  position: relative;
  cursor: pointer;

}

.newsForm [type="submit"]:hover {
  background-color: #dc9b05;

}

.newsForm div label{
  min-width: 600px;

}
/* fin backend news */
