.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.box {
    margin: 7px;
}

.box image {
    max-width: 50%;
}

.box [type="button"] {
    background-color: #f2a900;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;

}

.box [type="button"]:hover {
    background-color: #dc9b05;
}